.timer_wrap {
  margin: 20px 0;
  font-size: 20px;

  .time {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    color: rgb(232, 13, 61);
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    overflow: hidden;
    white-space: pre-wrap;
    mask-image: linear-gradient(
      180deg,
      transparent 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      transparent 100%
    );
  }
}
