@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  padding: 20px 0;
  font-size: 35px;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  animation: fadein 2s cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: backwards;
}

.header_floating {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  transform: translateY(-100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.21s;
  background-color: #121212;
  &.show {
    transform: none;
  }
}
